[color]
    ui = true
[user]
    name = Brian Mego
[alias]
    co = checkout
    ec = config --global -e
    cob = checkout -b
    cm = !git add -A && git commit -m
    wip = !git add -u && git commit -m "WIP" --no-verify
    undo = reset HEAD~1 --mixed
    amend = commit -a --amend
    bclean = "!f() { git branch --merged ${1-master} | grep -v " master$" | grep -v " develop$" | grep -v " main$" | grep -v " ${1-master}$" | xargs git branch -d; }; f"
    bcleanremote = "!f() { git branch -r --merged ${1-origin/master} | grep -v " origin/master$" | grep -v " origin/develop$" | grep -v " main$" | grep -v " ${1-origin/master}$"; }; f"
    spull = submodule foreach git pull
[push]
    default = simple
[core]
    autocrlf = input
    pager = delta
    excludesfile = ~/.gitignore
[advice]
	detachedHead = false

[pager]
    branch = false

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations
    side-by-side = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[init]
	defaultBranch = main
