.autojump
.bash_history
.bash_logout
.cache
.ipython
.ssh
QA.pem
.vim/.netrwhist
sandbox
.zsh/localrc
.bashrc_local

#Vim
.vim/bundle
.vim/autoload
.vim/bundle
.vim/plugged
*.sw[op]

#mutt
.mutt/bmego.active
.mutt/aliases
.mutt/gmail_passwords
.mutt/cache
.mutt/*.gpg
.mutt/*.hcache
.mutt/*.hcache-lock
.mutt/mutt-ldap.pl

#xmonad
.xmonad
