.vim/bundle
.autojump
.bash_history
.bash_logout
.cache
.ipython
.ssh
QA.pem
.vim/.netrwhist
sandbox
.zsh/localrc
.vim
.mutt/cache
.mutt/*.gpg
.mutt/*.hcache
.mutt/*.hcache-lock
.mutt/mutt-ldap.pl
.xmonad
.mutt/aliases
