@import "mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Raleway, sans-serif;
    font-size: 15px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px;
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface1;
    margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#custom-music,
#custom-weather,
#cpu,
#tray,
#mpris,
#backlight,
#clock,
#battery,
#pulseaudio,
#window,
#custom-lock,
#custom-power {
  background-color: @surface1;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}
#pulseaudio {
    color: @red;
    border-radius: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#clock {
    border-radius: 0;
    color: @rosewater;
}
#cpu {
    border-radius: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: @sky;
}
